.tempo{
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.tempo h2{
    text-align: center;
    justify-content: center;
}
.itens{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.card p{
    text-align: center;
    text-transform: capitalize;
}
.card img{
    width: 40%;
    margin-left: 38px;
}

@media (max-width: 414px) {
    .tempo {
        width: 100%; 
        padding: 10px; 
        display: flex; 
        flex-direction: column; 
    }
    .tempo h2 {
        font-size: 15px;
    }
    .itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px; 
    }
    .card {
        max-width: 100px;
        flex: 1 0 45%; 
    }
    .card p {
        margin-top: 8px;
        font-size: 12px;
    }
    .card img {
        width: 0px;
    }
    .card .temp {
        margin-top: -20px;
    }
    .card .description {
        margin-top: -8px;
        font-size: 12px;
    }
}
